{% extends 'base.html.twig' %}

{% block title %}Hello BdController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ma collection ✅</h1>

        <div class="card-group">
            {% for bdCollection in bdCollections %}
            <div class="card" style="width: 30%">
                <img src="{{ bdCollection.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ bdCollection.title }}</h5>
                    <li class="card-text">
                       Edition : {{ bdCollection.edition }}
                    </li>
                    <li class="card-text">
                       Tome : {{ bdCollection.tome }}
                    </li>
                    <li class="card-text">
                       Genre : {{ bdCollection.genres.name}}
                    </li>

                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <ul>
        <li></li>


    </ul>
</div>
{% endblock %}
